div#cesiumContainer {
	/* height: 91%; */
	top: 0;
	bottom: 0;
}

div#loadingOverlay {
	position: absolute;
	top: 0;
	width: 100%;
	padding-top: 48%;
	height: 100%;
	text-align: center;
	pointer-events: none;
	background: rgba(0,0,0,.5);
    transition: opacity 2s;
}

body div.container-fluid#main {
    width: 100% !important;
    padding: 0;
    color: #ddd;
	top: 0;
    margin: 52px 0 0;
    background: red;
	position: absolute;
	bottom: 0;
}
div#page-header {
    display: none;
}

body .box-content {
    padding: 0;
    background-color: black;
    border-width: 0;
    height: 100%;
}

.box.box-responsive {
	border: 0;
	height: 100%;
	top: 0;
	margin: 0;
	bottom: 0;
}

html body {
    background-color:  black;
    min-height: 100vh;
}

.cesium-selection-wrapper svg {
  fill: #55f;
}

.cesium-viewer-bottom {
  opacity: .3;
  transition: opacity .5s;
}

.cesium-viewer-bottom .cesium-credit-textContainer,
.cesium-viewer-bottom .cesium-credit-expand-link {
  padding-left: .5em;
}

.cesium-viewer-bottom:hover {
  opacity: .9;
}

.cesium-viewer button.cesium-infoBox-camera {
  display: none;
}

.cesium-infoBox,
.cesium-infoBox-bodyless .cesium-infoBox-title,
.cesium-infoBox-title {
  border-radius: 0;
}

.cesium-infoBox-title {
  background: rgba(84, 84, 84, 0.7);
}

.cesium-infoBox {
  background: rgba(38, 38, 38, 0.7);
}

.cesium-viewer-toolbar button.cesium-button {
  margin: auto;
  box-sizing: border-box;
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 0;
  padding: 0;
  vertical-align: middle;
  z-index: 0;
}

.cesium-viewer-toolbar button.cesium-button.cesium-fullscreenButton {
  margin: 3px;
}